@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f7fafd;
	font-family: "Poppins", sans-serif;
	padding: 20px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	gap: 20px;
}

section {
	background-color: #fff;
	border-radius: 8px;
	padding: 15px;
	width: 100%;
}

button {
	cursor: pointer;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

nav {
	display: none;
}

h1 {
	color: #44b53e;
	font-size: 48px;
}

input {
	border: none;
	color: #b7b7b7;
}

input:focus {
	outline: none;
}

progress {
	background-color: #fff;
	overflow: hidden;
	border-radius: 727px;
	width: 50px;
}

progress::-webkit-progress-bar {
	background-color: white;
}

progress[value="1"] {
	border: 2px solid #7b1b0a;
}
progress[value="2"] {
	border: 2px solid #0a4c7b;
}
progress[value="3"] {
	border: 2px solid #3f774a;
}

progress[value="1"]::-webkit-progress-value {
	background-color: #7b1b0a;
}

progress[value="2"]::-webkit-progress-value {
	background-color: #0a4c7b;
}

progress[value="3"]::-webkit-progress-value {
	background-color: #3f774a;
}

#result {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
	background-color: #f7fafd;
}

#result img {
	width: 80%;
}

.duration {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;
	color: #b7b7b7;
	font-size: 90%;
	width: 100%;
}

.duration img {
	width: auto !important;
}
 .stat img {
	width: 50% !important;

 }


.bold {
	color: #000;
	font-weight: bold;
}

.starDiv {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;
	height: fit-content;
	width: fit-content;
	padding: 5px;
	border-radius: 8px;
}

.mainDiv {
	flex-direction: column;
	width: 80%;
	border-radius: 8px;
	padding: 10px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.secondDiv {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	gap: 15px;
}

.statDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.stat {
	color: #b7b7b7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title p {
	font-weight: bold;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sort {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#search {
	width: 100%;
	border: none;
	color: #fff;
	background-color: #38b031;
	border-radius: 8px;
	padding: 10px 20px;
	transition: 300ms;
}

#search:hover {
	background-color: #49c143;
}

.calendar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.label {
	border: 1px solid #ebebeb;
	color: #5e6778;
	border-radius: 727px;
	padding: 10px 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

@media screen and (min-width: 950px) {
	body,
	section,
	header {
		padding: 40px;
	}
	#search {
		padding: 15px;
	}
	nav {
		display: block;
	}
	nav a {
		color: #000;
		text-decoration: underline;
		text-underline-offset: 5px;
		text-decoration-color: transparent;
		text-decoration-thickness: 3px;
		transition: 0.3s;
		padding: 15px;
	}

	.calendar {
		flex-direction: row;
		padding: 15px;
	}

	nav a:hover {
		text-decoration-color: #263fa9;
	}

	header {
		justify-content: space-between;
	}

	.mainDiv{
		width:  100%;
		flex-direction: row;
	}

	.duration {
		justify-content: flex-start;
		width:  100%;
	}


}

@media screen and (min-width: 1424px) {
	body,
	section,
	header {
		padding: 30px;
	}
	#search {
		padding: 20px;
	}

}
